# Environment variables
.env

# Python stuff
.venv/
__pycache__/

# Text editors
.vscode/
.idea/

# Bot files
# This looks dumb, but git ignores excludes when you're matching directories for performance reasons
storage/**/*.*
!storage/config/main.json
!storage/config/replies.json
!storage/static/*
discord.log
